body { 
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: inline-block;
}

h1 {
    color: hsl(207, 100%, 50%);
    font-size: 3em;
    text-shadow: 1px 1px 1px black;
}

h2 {
    color: white;
}

#text div {
    color: white;
}

img {
    height: 150px;
    margin: 15px;
    width: 150px;
    color: hsl(207, 100%, 50%);
}

main {
    background-image: url("img/background.png");
    background-size: 100% 100%;
    height: 700px;
    background-repeat: no-repeat;
}

